#%RAML 0.8
---
title: DotRoll API
version: "1.0"
baseUri: https://webservices.dotroll.com/rest/{version}
protocols: [ HTTPS ]
securitySchemes:
  - basic:
      description: |
        The DotRoll API uses Basic Auth for authentication. An authorization header containing
        valid base64 encoded credentials must be included in every request.
      type: Basic Authentication
      describedBy:
        headers:
          Authorization:
            description: Used to send valid Basic Auth credentials.
            type: string
resourceTypes:
  - base:
      get:
        queryParameters:
          fmt:
            description: Used to define the returned content's type.
            enum: [ 'json', 'xml' ]
        responses:
          401:
            description: API key authentication failed
            body:
              application/json:
                example: !include api/example/authentication_failed.json
              text/xml:
                schema: !include api/schema/authentication_failed.xsd
                example: !include api/example/authentication_failed.xml
          500:
            description: Basic Authentication failed
traits:
  - secured:
      usage: Apply this to all method to use API key authentication.
      description: All API requests require this type of authentication as well.
      queryParameters:
        api_key:
          description: Used to send an API key along with the credentials.
          type: string
          required: true
          minLength: 160
          maxLength: 160
          example: kk20ff321d77e5065fasd0d61fd89e4b
securedBy: [ basic ]
mediaType: application/json
/domain:
  /search:
    /{domain}:
      type: base
      is: [ secured ]
      uriParameters:
        domain:
          description: Domain you are looking for
          type: string
      description: Search for a domain if it is already registered.
      get:
        responses:
          200:
            description: Domain search is successful.
            body:
              application/json:
                schema: !include api/schema/domain/search.json
                example: !include api/example/domain/search.json
              text/xml:
                schema: !include api/schema/domain/search.xsd
                example: !include api/example/domain/search.xml
